@import "../variables";
@import "../mixins";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // max-height: 70px;
  z-index: 9;
  transition: transform 0.1s ease-out;
  transform: translateY(0);
  padding: 1rem;
  backdrop-filter: blur(18px);
  background-color: inherit;
  -webkit-backdrop-filter: blur(18px);

  @include tablet {
    height: auto;
  }

  @include mobile {
    height: auto;
  }
}

.visible {
  transform: translateY(0);
  opacity: 1;
  top: 0px;
  box-shadow: 0 10px 30px -10px $navy-light;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
  top: -100px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .menubar {
    display: none;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;

      svg {
        font-size: 1.8rem;
      }
    }
    @include tablet {
      display: block;
    }
    @include mobile {
      display: block;
    }
  }

  .logo {
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;

    @include tablet {
      justify-content: space-between;
    }
    @include mobile {
      justify-content: space-between;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }

    &.shownav {
      // show nav in mobile screen when its toggled
      display: block !important;
      height: 100vh;
      .nav_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
    &_wrapper {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;

      .link {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: $blue-700;
        }
      }
    }
  }

  .toggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border: none;
  }
}

.dark {
  // background-color: $navy-lightest;
  color: $light-slate;
  .container {
    .logo {
      .menubar {
        button {
          // background-color: $navy-lightest;
          svg {
            color: $light-slate;
          }
        }
      }
    }
  }
}

.light {
  color: $dark-000;
  .container {
    .menubar {
      button {
        // background-color: $dark-900;
        svg {
          color: $dark-000;
        }
      }
    }
  }
  // background-color: $dark-900;
}

.active {
  color: $blue-700;
}

// Media Query
