@import "../variables";
@import "../mixins";

.title {
  padding: 1rem 1rem 2.5rem 1rem;
  font-weight: 600;
  font-size: 3rem;
  h1 {
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.8rem;
    }
  }
}

.skills {
  background-color: inherit;
  width: 100%;
  max-width: 1500px;
  height: 650px;

  @include tablet {
    max-width: 1023px;
  }

  @include mobile {
    max-width: 767px;
  }

  &_category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
      background-color: inherit;
      color: inherit;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom-width: medium;
      padding: 0rem 2rem 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      color: $light-slate;

      @include tablet {
        padding: 0rem 1.5rem 1rem;
        font-size: 1rem;
        height: 48px;
      }
      @include mobile {
        padding: 0rem 0.8rem 1rem;
        height: 48px;
        font-size: 0.8rem;
      }

      &:hover {
        color: $blue-400;
        font-weight: bold;
      }
      &.active {
        color: $blue-400;
        border-bottom-color: $blue-400;
        font-weight: 600;
      }
    }
  }
  &_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    &_set {
      // display: grid;
      // grid-template-columns: repeat(3, minmax(0, 1fr));
      // grid-gap: 20px;
      // column-gap: 7rem;
      // padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 20px;
      grid-column-gap: 7rem;
      justify-content: center; /* Center horizontally */
      align-content: center; /* Center vertically */
      padding-top: 2rem;

      @include tablet {
        column-gap: 4rem;
      }

      @include mobile {
        column-gap: 2rem;
      }
      &_item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;
        align-items: center;
      }
    }
  }
}

.dark {
  background-color: $navy-lightest;
  color: $light-slate;
}

.light {
  background-color: $dark-900;
  color: $dark-000;
  button {
    color: $dark-400;
    &:hover {
      color: $blue-400;
    }
  }
}
