@use "../variables" as *;

.dark {
  background-color: $navy-lightest;
  color: $light-slate;
}

.light {
  background-color: $dark-900;
  color: $dark-000;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 5rem;
  &_name {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &_tags {
    display: flex;
    flex-direction: column;
    width: 50%;
    h2 {
      padding: 1rem 0;
    }
    &_tag {
      display:flex;
      flex-wrap: wrap;
      gap: 1rem;
      p{
        background: gray;
        padding: 1rem;
        border-radius: 10px;
      }
    }
  }

  &_libs {
    h2 {
      padding: 1rem 0;
    }
    &_lib {
      p {
        font-size: 1.3rem;
        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  &_feats {
    h2 {
      padding: 1rem 0;
    }
    &_feat {
      p {
        font-size: 1.3rem;
        span {
          font-size: 1.3rem;
        }
      }
    }
  }
}
