// Colors
$white: #ffffff;

$red-400: #ff5252;
$red-500: #ff1744;
$red-600: #e5433b;
$red-700: #d32f2f;
$red-800: #c62828;

$green-400: #00e676;
$green-500: #00c853;
$green-600: #00ab5f;
$green-700: #009d57;
$green-800: #008c49;

$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;

$orange-400: #ffc947;
$orange-500: #ff9800;
$orange-600: #fb8c00;
$orange-700: #f57c00;
$orange-800: #ef6c00;

$dark-000: #000000;
$dark-100: #1c1c1c;
$dark-200: #333333;
$dark-300: #4d4d4d;
$dark-400: #666666;
$dark-500: #808080;
$dark-600: #999999;
$dark-700: #b3b3b3;
$dark-800: #cccccc;
$dark-900: #e6e6e6;

$indigo-100: #c5cae9;
$indigo-200: #9fa8da;
$indigo-300: #7986cb;
$indigo-400: #5c6bc0;
$indigo-500: #3f51b5;
$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #283593;
$indigo-900: #1a237e;

$secondary: #ff5c00;
$danger: #ff3366;
$success: #00d36b;

$navy: rgba(2, 12, 27, 0.7);
$background-navy: #0a192f;
$navy-lightest: #233554;
$navy-light: #112240;
$dark-slate: #495670;
$slate: #8892b0;
$light-slate: #ccd6f6;
$lightest-slate: #a8b2d1;
$theme-color: #9d00ff;

// Text colors.
$text-color-emphasis: #231D3C;
$text-color-button: #FBFAFF;
$text-color-primary: #534f61;
$text-color-secondary: #717077;

// Font weights.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font Family

